@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}
.header,
.footer,
.left-links,
.right-links{
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  padding: 16px;
  gap: 15px;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer{
  background-color: #eeeeee;
}

button{
  padding: 8px 16px;
  margin-top: 10px;
}

input{
  margin-top: 10px;
}